.about-section {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 300px;
  background: url("/images/image6.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: invert(80%);
  text-align: center;
  color: white;
  overflow: hidden;
}

.about-section .overlay1 {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* nền mờ tối */
  z-index: 1;
}

.about-content {
  position: relative;
  z-index: 2;
}

.about-content h1 {
  font-size: 4rem;
  color: #c6ff00;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.about-content p {
  font-size: 1.2rem;
}

.about-content a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.about-content a:hover {
  color: #c6ff00;
}
